@font-face {
  font-family: 'injazz_icon';
  src: url('../font/injazz_icon.eot?31388992');
  src: url('../font/injazz_icon.eot?31388992#iefix') format('embedded-opentype'),
       url('../font/injazz_icon.woff2?31388992') format('woff2'),
       url('../font/injazz_icon.woff?31388992') format('woff'),
       url('../font/injazz_icon.ttf?31388992') format('truetype'),
       url('../font/injazz_icon.svg?31388992#injazz_icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'injazz_icon';
    src: url('../font/injazz_icon.svg?31388992#injazz_icon') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "injazz_icon";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-gplus:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-youtube:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-camera-alt:before { content: '\e804'; } /* '' */
.icon-star:before { content: '\e805'; } /* '' */
.icon-star-empty:before { content: '\e806'; } /* '' */
.icon-heart-1:before { content: '\e807'; } /* '' */
.icon-heart-empty-1:before { content: '\e808'; } /* '' */
.icon-ccw:before { content: '\e809'; } /* '' */
.icon-cw:before { content: '\e80a'; } /* '' */
.icon-star-1:before { content: '\e80b'; } /* '' */
.icon-mail_box:before { content: '\e80c'; } /* '' */
.icon-cart_i:before { content: '\e80d'; } /* '' */
.icon-star-empty-1:before { content: '\e80e'; } /* '' */
.icon-user_lk:before { content: '\e80f'; } /* '' */
.icon-search:before { content: '\e811'; } /* '' */
.icon-play-circled2:before { content: '\e814'; } /* '' */
.icon-heart-empty:before { content: '\e815'; } /* '' */
.icon-heart:before { content: '\e816'; } /* '' */
.icon-check:before { content: '\e817'; } /* '' */
.icon-cancel:before { content: '\e818'; } /* '' */
.icon-heart-2:before { content: '\e819'; } /* '' */
.icon-heart-empty-2:before { content: '\e81a'; } /* '' */
.icon-star-2:before { content: '\e81b'; } /* '' */
.icon-star-empty-2:before { content: '\e81c'; } /* '' */
.icon-ok:before { content: '\e81d'; } /* '' */
.icon-cancel-1:before { content: '\e81e'; } /* '' */
.icon-plus-circled:before { content: '\e81f'; } /* '' */
.icon-arrleft:before { content: '\e821'; } /* '' */
.icon-arrright:before { content: '\e822'; } /* '' */
.icon-acoustic-guitar:before { content: '\e823'; } /* '' */
.icon-jack-connector-1:before { content: '\e824'; } /* '' */
.icon-jack-connector:before { content: '\e825'; } /* '' */
.icon-light:before { content: '\e826'; } /* '' */
.icon-lighting-1:before { content: '\e827'; } /* '' */
.icon-stars:before { content: '\e828'; } /* '' */
.icon-tag:before { content: '\e829'; } /* '' */
.icon-thread:before { content: '\e82a'; } /* '' */
.icon-usb:before { content: '\e82b'; } /* '' */
.icon-wallet:before { content: '\e82c'; } /* '' */
.icon-lighting-2:before { content: '\e82d'; } /* '' */
.icon-lighting:before { content: '\e82e'; } /* '' */
.icon-lights:before { content: '\e82f'; } /* '' */
.icon-mirror-ball:before { content: '\e830'; } /* '' */
.icon-mixer:before { content: '\e831'; } /* '' */
.icon-music:before { content: '\e832'; } /* '' */
.icon-music-player:before { content: '\e833'; } /* '' */
.icon-siren:before { content: '\e834'; } /* '' */
.icon-software:before { content: '\e835'; } /* '' */
.icon-sound-system-1:before { content: '\e836'; } /* '' */
.icon-sound-system-2:before { content: '\e837'; } /* '' */
.icon-sound-system:before { content: '\e838'; } /* '' */
.icon-speakers:before { content: '\e839'; } /* '' */
.icon-sportlights:before { content: '\e83a'; } /* '' */
.icon-spotlight-1:before { content: '\e83b'; } /* '' */
.icon-spotlight:before { content: '\e83c'; } /* '' */
.icon-idea:before { content: '\e83d'; } /* '' */
.icon-headphones:before { content: '\e83e'; } /* '' */
.icon-headphone:before { content: '\e83f'; } /* '' */
.icon-hdmi:before { content: '\e840'; } /* '' */
.icon-hdmi-1:before { content: '\e841'; } /* '' */
.icon-flashlight:before { content: '\e842'; } /* '' */
.icon-fireworks:before { content: '\e843'; } /* '' */
.icon-favorites:before { content: '\e844'; } /* '' */
.icon-editer:before { content: '\e845'; } /* '' */
.icon-double-plug:before { content: '\e846'; } /* '' */
.icon-discount:before { content: '\e847'; } /* '' */
.icon-commission:before { content: '\e848'; } /* '' */
.icon-bubbles:before { content: '\e849'; } /* '' */
.icon-broken-cable:before { content: '\e84a'; } /* '' */
.icon-audio-system:before { content: '\e84b'; } /* '' */
.icon-agreement:before { content: '\e84d'; } /* '' */
.icon-one-accordion:before { content: '\e84e'; } /* '' */
.icon-tuning-fork-vibrating:before { content: '\e84f'; } /* '' */
.icon-drum-and-two-drumsticks:before { content: '\e850'; } /* '' */
.icon-grand-piano-overhead-view:before { content: '\e851'; } /* '' */
.icon-hevy-metal-electric-guitar:before { content: '\e852'; } /* '' */
.icon-inclined-cello:before { content: '\e853'; } /* '' */
.icon-long-trumpet:before { content: '\e854'; } /* '' */
.icon-dj-mixer:before { content: '\e855'; } /* '' */
.icon-headphones-with-mic:before { content: '\e856'; } /* '' */
.icon-microphone-with-wire:before { content: '\e857'; } /* '' */
.icon-vintage-radio-microphone:before { content: '\e858'; } /* '' */
.icon-apple-ipod:before { content: '\e859'; } /* '' */
.icon-big-speaker:before { content: '\e85a'; } /* '' */
.icon-dj-mixer-2:before { content: '\e85b'; } /* '' */
.icon-sound-system-with-big-speakers:before { content: '\e85c'; } /* '' */
.icon-audio-mixer-1:before { content: '\e85d'; } /* '' */
.icon-star-with-microphone:before { content: '\e85e'; } /* '' */
.icon-long-synthesizer:before { content: '\e85f'; } /* '' */
.icon-microphone-with-long-cable:before { content: '\e860'; } /* '' */
.icon-music-on-laptop:before { content: '\e861'; } /* '' */
.icon-music-recorder-1:before { content: '\e862'; } /* '' */
.icon-shout-megaphone:before { content: '\e863'; } /* '' */
.icon-car-radio:before { content: '\e864'; } /* '' */
.icon-dj-mixer-1:before { content: '\e865'; } /* '' */
.icon-dj-with-headphones:before { content: '\e866'; } /* '' */
.icon-equipment-box:before { content: '\e868'; } /* '' */
.icon-sound-mixer:before { content: '\e869'; } /* '' */
.icon-drum-kit:before { content: '\e86a'; } /* '' */
.icon-big-vintage-mic:before { content: '\e86b'; } /* '' */
.icon-concert-sportlight:before { content: '\e86c'; } /* '' */
.icon-old-gramophone:before { content: '\e86d'; } /* '' */
.icon-contact:before { content: '\e86e'; } /* '' */
.icon-play:before { content: '\e86f'; } /* '' */
.icon-up-open:before { content: '\f005'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-instagram-1:before { content: '\f31e'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */