//TODO _catalog.scss
.catalog {
  &_page {padding: 2rem 0;}
  &_block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
  }

}
.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  a{ padding: 0 3px;
	&:hover{text-decoration: underline; padding: 0 3px;}}
}

//TODO правки jquery-ui

.ui-widget-content {
  border: none;
  background: transparent;
}
.ui-widget.ui-widget-content {
  border: none;
}
.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl {
  border-top-left-radius:0;
}
.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr {
  border-top-right-radius:0;
}
.ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl {
  border-bottom-left-radius:0;
}
.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br {
  border-bottom-right-radius:0;
}
.ui-tabs .ui-tabs-panel {
  padding: 0;
}
.ui-helper-reset {
  line-height: initial;
}
.ui-widget-header {
  border: none;
  background: inherit;
  color: inherit;
  font-weight: initial;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  border: none;
  background: transparent;
  font-weight: normal;
  color: #fff;
}
.ui-tabs .ui-tabs-nav li {
  float: none;
  margin: 0;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  margin-bottom: 0;
  padding-bottom: 0;
}
.ui-tabs .ui-tabs-nav {
  padding: 0;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: none;
  background: transparent;
  font-weight: normal;
  color: initial;
}

//TODO end jquery-ui

.you_sea{

  padding: 2rem 0;
  .goods {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

	@media screen and (max-width: 768px){
	  -ms-flex-wrap: wrap;
	  flex-wrap: wrap;
	}
	&_item {
	  max-width: 23%;

	  @media screen and (max-width: 768px){
		max-width: 48%;
		margin-bottom: 2rem;
	  }
	}
  }
  .outside p {
	display: block;
  }
  .main_scroll {
	position: relative;
	top: -20rem;
	font-size: 3rem;
	color: #f6f6f6;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	& a{color: #9b9b9b;}
	.bx-prev {
	  display: block;
	  position: absolute;
	  left: -4rem;
	  @media screen and (max-width: 1024px){
		left: -2rem;
	  }
	  @media screen and (max-width: 768px){
		display: none;
	  }
	}
	.bx-next {
	  display: block;
	  position: absolute;
	  right: -3rem;
	  @media screen and (max-width: 1024px){
		right: -1rem;
	  }
	  @media screen and (max-width: 768px){
		display: none;
	  }
	}
  }
}
.s-pagination {
  text-align: center;
  .pagination-holder {
	position: relative;
	padding: 0 50px;
	height: 45px;
	display: inline-block;
	.pagination-content {
	  //background: #fff;
	  padding: 0 15px;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-pack: center;
	  -ms-flex-pack: center;
	  justify-content: center;
	  -webkit-box-align: center;
	  -ms-flex-align: center;
	  align-items: center;
	  li {
		width: 40px;
		a {
		  width: 100%;
		  display: inline-block;
		  font-size: 18px;
		  line-height: 45px;
		  color: #222222;
		  &:hover {
			color: #222222;
		  }
		}
		&.active a {
		  font-weight: bold;
		}
		.pag_btn {
		  position: absolute;
		  display: none;
		  height: 100%;
		  line-height: 100%;
		  width: 50px;
		  top: 0;
		  left: 0;
		  img {
			display: inline-block;
			height: 20px;
			width: auto;
			position: relative;
			top: 50%;
			-webkit-transform-origin: 50%;
			-ms-transform-origin: 50%;
			transform-origin: 50%;
		  }
		  &_right {
			right: 0;
			left: auto;
			img {
			  -webkit-transform: translateY(-50%) rotate(180deg);
			  -ms-transform: translateY(-50%) rotate(180deg);
			  transform: translateY(-50%) rotate(180deg);
			}
		  }
		  &_left{
			img {
			  -webkit-transform: translateY(-50%);
			  -ms-transform: translateY(-50%);
			  transform: translateY(-50%);
			}
		  }
		  &.visible {
			display: inline-block;
		  }
		}
	  }
	  .prev.disabled {
		cursor: default;
	  }
	}

  }

}
.bay_with_item {
  padding: 2rem 0;
  .goods {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

	@media screen and (max-width: 768px){
	  -ms-flex-wrap: wrap;
	  flex-wrap: wrap;
	}
	&_item {
	  max-width: 23%;

	  @media screen and (max-width: 768px){
		max-width: 48%;
		margin-bottom: 2rem;
	  }
	}
  }
  .outside p {
	display: block;
  }
  .main_scroll {
	position: relative;
	top: -20rem;
	font-size: 3rem;
	color: #f6f6f6;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	& a {
	  color: #9b9b9b;
	}
	.bx-prev {
	  display: block;
	  position: absolute;
	  left: -4rem;
	  @media screen and (max-width: 1024px) {
		left: -2rem;
	  }
	  @media screen and (max-width: 768px) {
		display: none;
	  }
	}
	.bx-next {
	  display: block;
	  position: absolute;
	  right: -3rem;
	  @media screen and (max-width: 1024px) {
		right: -1rem;
	  }
	  @media screen and (max-width: 768px) {
		display: none;
	  }
	}
  }
}







