
.top_sales{
  background: $bg_block;
  padding: 2rem 0;
  .goods {
	display: flex;
	flex: 1 1 auto;
	justify-content: space-between;
 
	@media screen and (max-width: 768px){
	  flex-wrap: wrap;
	}
	&_item {
	  max-width: 23%;
	  
	  @media screen and (max-width: 768px){
		max-width: 48%;
		margin-bottom: 2rem;
	  }
	}
  }
  .outside p {
	display: block;
  }
  .main_scroll {
	position: relative;
	top: -20rem;
	font-size: 3rem;
	color: #f6f6f6;
	display: flex;
	justify-content: space-between;
	& a{color: #9b9b9b;}
	.bx-prev {
	  display: block;
	  position: absolute;
	  left: -4rem;
	  @media screen and (max-width: 1024px){
		left: -2rem;
		}
	  @media screen and (max-width: 768px){
		display: none;
	  }
	}
	.bx-next {
	  display: block;
	  position: absolute;
	  right: -3rem;
	  @media screen and (max-width: 1024px){
		right: -1rem;
	  }
	  @media screen and (max-width: 768px){
		display: none;
	  }
	}
  }
}


.goods {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  margin: 2rem 0 1rem;
  &:last-child {
	margin-right: 15px;
  }
  &_item {
	max-width: 30%;
	border: solid 1px #dedede;
	/* padding: 2%; */
	//margin-bottom: 2rem;
	background-color: #fff;
	text-align: center;
	&-top {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  .category a {
		text-transform: uppercase;
		padding: 1rem;
		display: block;
		text-decoration: underline;
		font-size: $fsm;
	  }
	  .stock, .top, .new {
		padding: 0.3rem;
		padding-left: 14px;
		position: relative;
		color: #fff;
		text-align: right;
		&:after {
		  display: block;
		  content: "";
		  width: 0;
		  height: 0;
		  border-style: solid;
		  border-width: 14px 14px 0 0;
		  position: absolute;
		  right: -14px;
		  bottom: -14px;
		}
		span:after {
		  display: block;
		  content: "";
		  width: 14px;
		  height: 28px;
		  position: absolute;
		  top: 0;
		  right: -14px;
		}
	  }
	  .stock{
		background: #c92222;
		&:after {
		  border-color: #c92222 transparent transparent transparent;
		}
		span:after {
		  background: #c92222;
		}
	  }

	  .top{
		background: #f90;
		&:after {
		  border-color: #f90 transparent transparent transparent;
		}
		span:after {
		  background: #f90;
		}
	  }

	  .new {
		background: #06c;
		&:after {
		  border-color: #06c transparent transparent transparent;
		}
		span:after {
		  background: #06c;
		}
	  }

	}
	&-center {
	  padding: 3%;
	  img {
		width: inherit;
		margin: 2rem auto;
	  }
	}
	&-bayBtn {
	  margin: 0 auto 1rem;
	  background: transparent;
	  border: solid 1px ;
	  width: 50%;
	  text-transform: uppercase;
	  padding: 3px 5px;
	  &:hover{
		color: #fff;
		border: solid 1px  $violet;
		background: $violet;
	  }
	}
	&:hover {
	  border-color: #000;
	  cursor: pointer;
	}
  }
  &_title {
	font-size:$fsm;
	width: 85%;
	margin: 0 auto 1rem;
	color: #30415d;
  }
  &_coast {
	font-size:$fsl;
	margin: 0 auto 1rem;
  }
  &_rating-star {
	display: flex;
	justify-content: center;
	color: #999;
	font-size: 14px;
  }
}

.ui-tabs-nav {
  display: flex;
  justify-content: space-around;
  flex: 1 1 auto;
  font-size:$fsl;
  text-transform: uppercase;
}

#ui-id-1, #ui-id-2, #ui-id-3 {
  display: block;
  padding: 0.6rem;
}

#ui-id-1 {
  border: solid 2px #f90;
  &:hover{background-color: #f90;color: #fff;}
}
#ui-id-2 {
  border: solid 2px #c92222;
  &:hover{background-color: #c92222;color: #fff;}
}
#ui-id-3 {
  border: solid 2px #06c;
  &:hover{background-color: #06c;color: #fff;}
}


.slider_goods-next {
  display: none;
}
.slider_goods-prev {display: none;}