@import "setings";


@import "fonts";

* {-webkit-box-sizing: border-box;box-sizing: border-box; padding: 0; margin: 0;}

a {text-decoration: none; color: black;}

ul {list-style: none;}

h1 {font-size:$fsl; font-weight: normal; margin: 0;}

h2 {font-size:$fsm; font-weight: normal; margin: 0;}

h3 {font-size:$fss;  margin: 0;}

html {width: 100%; height: 100%;}
html, body {width: 100%; height: 100%; background: #fff; font-size:$fss; font-family: $font, Arial, sans-serif;}
body{
  background: #fff;
  position: relative;
}
header {
  width: 100%;
  position: inherit;
  .wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	position: relative;
  }
}
input[type=number]::-webkit-inner-spin-button {
  display: none;
}
input, textarea, select {outline: none;}
select, input {
  &:focus {
	outline: 0;
  }
}
img {width: 100%;}
*:focus {outline: none;}
.title{
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}
.row {
  padding: 0px 1.5rem;
}

.content {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  //position: relative;

  @media screen and (max-width: 1400px){
	max-width: $maxWidth12;
  }
  @media screen and (max-width: 1200px){
	max-width: $maxWidth10;
  }
  @media screen and (max-width: 1000px){
	max-width: $maxWidth8;
  }
  @media screen and (max-width: 800px){
	max-width: $maxWidth7;
  }
}

//TODO Header
.row_top {
  padding-bottom: 1.5rem;
  font-size:$fsm;
  .content{
	//display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	max-width: $maxWidth;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	@media screen and (max-width: 1400px){
	  max-width: $maxWidth12;
	}
	@media screen and (max-width: 1200px){
	  max-width: $maxWidth10;
	}
	@media screen and (max-width: 1000px){
	  max-width: $maxWidth8;
	}
	@media screen and (max-width: 800px){
	  max-width: $maxWidth7;
	  display: flex;
	  align-items: baseline;
	  flex: 1 1 auto;
	}
	.top_container {
	  -webkit-box-flex: 0;
	  -ms-flex: 0 1 auto;
	  flex: 0 1 auto;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  @media screen and (max-width: 800px){
		margin-top: 0.2rem;
		margin-bottom: 0.8rem;
	  }
	}
	.top_container-1 {
	  float: left;
	  clear: right;
	  flex-direction: column;
	  order: 1;
	  width: calc(18% - 2rem);
	  margin-right: 2rem;
	  @media screen and (max-width: 800px){
		width: calc(22% - 1rem);
		margin-right: 1rem;
	  }
	  .social_row{
		@media screen and (max-width: 800px){
		  display: none;
		}
		.cos_icons {
		  display: flex;
		  justify-content: space-around;
		  li {
			background: #000;
			margin: 0.9rem 0;
			width: 36px;
			height: 36px;
			border-radius: 50%;
			position: relative;
			a {
			  color: #fff;
			  display: block;
			  position: absolute;
			  top: 25%;
			  /*left: 22%;*/
			  text-align: center;
			  width: 100%;
			  height: 100%;
			}
		  }
		}
	  }
	}
	.top_container-2 {
	  flex-direction: column;
	  order: 2;
	  width: 80%;
	  @media screen and (max-width: 800px){
		width: 55%;
	  }
	  .top_top-row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 1.5rem 0 0.1rem;
		flex: 1 1 auto;
		.phones_link a {
		  margin-right: 1rem;
		}
		.lang_block {
		  display: flex;
		  flex: 0 1 auto;
		  justify-content: space-between;
		  width: 47%;
		  @media screen and (max-width: 1024px){
			width: 60%;
		  }
		  @media screen and (max-width: 800px){
			display: none;
		  }
		  .lang ul {
			display: flex;
			justify-content: space-around;
			flex: 1 1 auto;
			&.language li {
			  padding: 3px;
			  border: solid 1px transparent;
			  cursor: pointer;
			  &.active {
				border: solid 1px #333;
			  }
			  &:hover {
				border: solid 1px #333;
			  }
			}
		  }
		  .top_stock a {
			color: $violet;
		  }
		  .trats:hover {
			color: $violet;
			text-decoration: underline;
			font-weight: bold;
		  }
		}


	  }
	}
	.top_container-3 {
	  float: left;
	  clear: right;
	  -webkit-box-orient: vertical;
	  -webkit-box-direction: normal;
	  -ms-flex-direction: column;
	  flex-direction: column;
	  -webkit-box-ordinal-group: 4;
	  -ms-flex-order: 3;
	  order: 3;
	  width: calc(63% - 1rem);
	  margin-right: 1rem;
	  margin-top: 1.8rem;
	  border: solid 2px #b7b7b7;
	  @media screen and (max-width: 800px){
		margin: 0;
		width: 100%;
		-webkit-box-ordinal-group: 5;
		-ms-flex-order: 4;
		order: 4;
		float: none;
	  }
	  .search_block {
		display: flex;
		flex: 1 1 auto;
		justify-content: space-between;
		align-items: stretch;
		height: 44px;
		input.searcher {
		  width: 70%;
		  height: 98%;
		  border: none;
		  text-indent: 10px;
		}
		select#search-filter {
		  margin: 5px 0;
		  border-bottom: 0;
		  border-top: 0;
		  padding: 0 1rem;
		}
		.btn.btn_search.icon-search {
		  font-size: 1.3rem;
		  text-align: center;
		  padding: 10px 13px;
		  color: #7a2165;
		}
	  }

	}
	.top_container-4 {
	  -webkit-box-orient: vertical;
	  -webkit-box-direction: normal;
	  -ms-flex-direction: column;
	  flex-direction: column;
	  -webkit-box-ordinal-group: 5;
	  -ms-flex-order: 4;
	  order: 4;
	  width: 18%;
	  @media screen and (max-width: 800px){
		width: 10%;
		-webkit-box-ordinal-group: 4;
		-ms-flex-order: 3;
		order: 3;
	  }
	  .catr-row{

		p{
		  @media screen and (max-width: 800px){
			display: none;
		  }
		}
		ul {
		  display: -webkit-box;
		  display: -ms-flexbox;
		  display: flex;
		  -webkit-box-pack: justify;
		  -ms-flex-pack: justify;
		  justify-content: space-between;
		  li {
			display: flex;
			justify-content: stretch;
			flex-direction: column;
			align-items: center;
			width: 47%;
			cursor: pointer;
			margin-top: 1rem;
			position: relative;
			& div {
			  font-size: 2rem;
			  color: #939393;
			}
			.totalGoods {
			  font-size: 14px;
			  width: 25px;
			  height: 25px;
			  display: block;
			  position: absolute;
			  background: $violet;
			  border-radius: 50%;
			  text-align: center;
			  padding-top: 3px;
			  color: #fff;
			  right: 10%;
			  top: 17%;
			  @media screen and (max-width: 800px){
				right: -100%;
				}
			}
		  }
		  li:first-child {
			@media screen and (max-width: 800px){
			  display: none;
			}
		  }
		}
	  }
	}
  }
}

//TODO Menu-mob
#nav {
  display: none;
  @media screen and (max-width: 800px){
	display: block;
  }
}

//TODO Menu
.row_bottom {
  width: 100%;
  padding: 0;
  background: $violet;
  position: relative;
  @media screen and (max-width: 800px) {
	display: none;
  }
  .content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	max-width: $maxWidth;
	flex-wrap: nowrap;
	flex: 1 1 auto;
	@media screen and (max-width: 1400px){
	  max-width: $maxWidth12;
	}
	@media screen and (max-width: 1200px){
	  max-width: 1000px;
	}
	@media screen and (max-width: 1000px){
	  max-width: $maxWidth8;
	}
	@media screen and (max-width: 800px){
	  max-width: $maxWidth7;
	}
  }
  nav {
	flex: 1 1 auto;
	&.nav-1 {
	  max-width: 80%;
	}
	&.nav-2 {
	  max-width: 15%;
	  @media screen and (max-width: 800px){
		max-width: 17%;
	  }
	}
	.nav {
	  display: flex;
	  justify-content: space-between;
	  align-items: stretch;
	  a {
		color: #fff;
		font-size:$fsm;
		text-transform: uppercase;
		display: block;
		padding: 1.5rem 0;
		@media screen and (max-width: 2000px){
		  font-size: 16px;
		}
		&:hover{
		  text-decoration: underline;
		}
	  }
	  .dropDown {
		display: none;
		width: 100%;
		background: #f9f9f9;
		position: absolute;
		z-index: 999;
		padding: 2rem 4rem;
		justify-content: left;
		align-items: stretch;
		flex: 1 1 auto;
		flex-wrap: wrap;
		top: 3.8rem;
		left: 0;
		transition: all 700ms ease-out;
		&:hover {display: flex;}
		li {
		  border-bottom: solid 1px transparent;
		  max-width: 20%;
		  margin-bottom: 1rem;
		  margin-right: 5%;
		  a {
			display: flex;
			flex-direction: row;
			align-items: flex-end;
			color: #333;
			padding: initial;
			&:hover {
			  text-decoration: underline;
			  //font-weight: bold;
			}
		  }
		  .sub_dropDown li.title_chapt-item {
			width: 100%;
			max-width: 100%;
			margin-bottom: 0.5rem;
			a {
			  text-transform: initial;
			  color: $violet;
			  font-size: 16px;
			}
			&.comission {
			  margin-top: 1rem;
			}
		  }
		}
		.title_chapt a span {
		  display: block;
		  width: 20%;
		  margin-right: 10px;
		}
	  }
	  li:hover >  ul.dropDown {
		display: flex;
	  }

	}

  }
}

