/*global setings*/


$font: "Open Sans";

$violet: #7a2165;
$text_def: #595959;
$text_foo: #333;
$bg_block: #f9f9f9;

//font-size

$fsl: 24px;
$fsm: 18px;
$fss: 16px;

// screen-size

$maxWidth: 1400px;

  $maxWidth12: 1200px;
  $maxWidth10: 1000px;
  $maxWidth8: 800px;
  $maxWidth7: 700px;